---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Game from "../components/Game.astro";
---

<Layout title="Welcome to Minstrel's Dices.">
  <main>
    <div class="main-menu flex flex-col justify-center items-center space-y-12">
      <img
        class="logo w-52 h-52"
        src="/images/jester-rabbit.png"
        alt="Jester Rabbit"
      />
      <h1>
        Welcome to <span class="text-gradient block">Minstrel's Dices</span>
      </h1>

      <ul role="list" class="link-card-grid">
        <Card body="Start Adventure" isPlayButton={true} />
        <Card body="Card Game Manager" isCardGameButton={true} />
        <Card body="Stare at the wall" />
        <Card body="Go to sleep" />
      </ul>
    </div>
    <div class="game-container">
      <Game />
    </div>
  </main>
  <div class="line-container pointer-events-none">
    <div class="line top-[0]"></div>
    <div class="line top-[20%]"></div>
    <div class="line top-[40%]"></div>
    <div class="line top-[60%]"></div>
    <div class="line top-[80%]"></div>
  </div>
</Layout>

<style lang="scss">
  :global(.line-container) {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    .line {
      background-color: #9a47a1;
      width: 0;
      height: 20%;
      position: absolute;
      left: 0;
    }
  }

  .game-container {
    display: none;
  }

  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding: 2rem;
  }
  .main-menu,
  .game-container {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    min-height: 100vh;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    font-size: 2rem;
    line-height: 2;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
